
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Xlig;
	src: url('/fonts/xlig.ttf') ;
}
@font-face {
	font-family: AllRoundGothic;
	src: url(/fonts/AllRoundGothic-Medium.ttf) ;
}
@font-face {
	font-family: AllRoundGothicBold;
	src: url(/fonts/AllRoundGothic-Bold.ttf) ;
}
@font-face {
	font-family: AllRoundGothicDemiOblique;
	src: url(/fonts/AllRoundGothic-DemiOblique.ttf);
}
@font-face {
	font-family: AllRoundGothicMediumOblique;
	src: url(/fonts/AllRoundGothic-MediumOblique.ttf) ;
}
@font-face {
	font-family: AllRoundGothicXligOblique;
	src: url(/fonts/AllRoundGothic-XLigOblique.ttf) ;
}
@font-face {
	font-family: AllRoundGothicBookOblique;
	src: url(/fonts/AllRoundGothic-BookOblique.ttf) ;
}
.all-round-gothic-xlig {
	font-family: Xlig;
}
.all-round-gothic {
	font-family: AllRoundGothic;
}
.all-round-gothic-bold {
	font-family: AllRoundGothicBold;
}
.all-round-gothic-medium-oblique {
	font-family: AllRoundGothicMediumOblique;
}
.all-round-gothic-xlig-oblique {
	font-family: AllRoundGothicXligOblique;
}
.all-round-gothic-book-oblique {
	font-family: AllRoundGothicBookOblique;
}	
.all-round-gothic-demi-oblique {
	font-family: AllRoundGothicDemiOblique;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;

}
body{
	background-color: rgb(255, 255, 255);
}
